<div class="container grid-container mt-5">

    <app-breadcumb [breadcumb]="breadcrumb"></app-breadcumb>

    <!-- <button class="btn btn-primary  mt-2 ml-2 mb-2" (click)="back()"><mat-icon>arrow_circle_left</mat-icon>
    </button> -->

    <div class="person-single-column center">
        <div class="person">
            <img *ngIf="people.file" class="rounded-circle" [src]="people.file" alt="Image Source">
            <img *ngIf="!people.file" class="rounded-circle" src="assets/noimage.png" alt="Image Source">
            <h1 class="title">{{people?.name}} {{people?.surname}}</h1>
            <h2 class="text-muted">{{people?.role}}</h2>
        </div>
    </div>
    <div class="person-single-column center">
        <div class="person-links mb-4">
            <div class="row">
                <div class="col">
                    <h3>{{people?.email}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>{{people?.number}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>{{people?.additionalInfo}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>