<div class="jumbotron block-home block-home-dense ">
    <div class="row bottom">
        <h1 class="display-title">AIDA LAB <small>Artificial Intelligence and Data Analysis</small></h1>
    </div>
    <div class="container">
        <div class="row" *ngIf="card">
            <div class="col-md-6 justify">
                <h1 class="display-title">{{card?.title}}</h1>
                <p class="lead">{{card?.description}}</p>
            </div>
            <div class="col-md-6">
                <img *ngIf="card?.file" class="figure-img lazyloaded" [src]="card.file" alt="Image Source">
                <img *ngIf="!card?.file" class="figure-img lazyloaded" src="assets/noimage.png" alt="Image Source">
            </div>
        </div>
        <div class="row" *ngIf="!card">
            <div class="col-md-12 center">
                <h1 class="display-title">No recently news.</h1>
            </div>
        </div>
    </div>
</div>