<div class="grid-container mt-2 mb-2">
    <h1 class="mat-h1">{{ 'people.title' | translate }}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4 mt-5" *ngFor="let card of cards">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.role}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div class="col-sm-6">
                        <img class="img-author" [src]="card.file" alt="Image Source">
                    </div>
                    <div class="col-sm-6">
                        <h4>{{card.name}} {{card.surname}} <br></h4>
                        {{card.email}} <br>
                        {{card.number}} <br>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>