<div class="grid-container mt-2 mb-2">

    <button class="btn btn-primary" (click)="back()">Back</button>

    <div class="row mt-2">

        <h1 class="title mt-2">{{ 'settings.edit.title' | translate}}</h1>

        <div>
            <input class="form-control" type="file" #csvReader name="File" id="txtFileUpload"
                (change)="uploadListener($event)" accept="*" />
        </div>

        <div class="mat-h1 mt-5" *ngIf="imageSource">
            <img class="img" [src]="imageSource" alt="Image Source">
        </div>

        <mat-form-field class="mt-4" appearance="fill">
            <mat-label>Title</mat-label>
            <input [(ngModel)]="news.title" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="news.description" matInput></textarea>
        </mat-form-field>


        <div class="right mt-2">
            <button mat-raised-button class="btn btn-primary margin-left" (click)=" saveNews()">{{
                'settings.button.save' | translate}}</button>
            <button mat-raised-button class="margin-left" color="warn" (click)="clear()">{{
                'settings.button.clear'
                | translate}}</button>
        </div>
    </div>

</div>