<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="back()">Back</button>

    <h1 class="title mt-2">{{ 'settings.edit.title' | translate}}</h1>

    <div class="row mt-2">

        <form [formGroup]="requiredForm" novalidate>

            <div>
                <input id="file" type="file" multiple class="form-control" (change)="onFileChange($event)">
            </div>

            <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;">


            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredForm.controls['title'].invalid && requiredForm.controls['title'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['title'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredForm.value.description.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredForm.controls['description'].invalid && requiredForm.controls['description'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['description'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredForm.controls['description'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Year</mat-label>
                    <input formControlName="year" matInput>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div class="right mt-2">
        <button mat-raised-button class="btn btn-primary margin-left" color="primary" (click)="saveResearch()">{{
            'settings.button.edit' | translate}}</button>
        <button mat-raised-button class="margin-left" color="warn" (click)="clear()">{{
            'settings.button.clear'
            | translate}}</button>
    </div>
</div>