<div class="row mt-2">

    <h1 class="title mt-2">{{ 'settings.research.title' | translate}}</h1>

    <div>
        <input class="form-control" type="file" #csvReader name="File" id="txtFileUpload"
            (change)="uploadListener($event)" accept="*" />
    </div>

    <div class="mat-h1 mt-5" *ngIf="imageSource">
        <img class="img" [src]="imageSource" alt="Image Source">
    </div>

    <table class="full-width mt-2 mb-2 margin-left" cellspacing="0">
        <tr>
            <td>
                <input type="text" class="form-control mt-2" placeholder="Title" [(ngModel)]="research.title">
            </td>
        </tr>
        <tr class="mt-2">
            <td>
                <input type="text-area" class="form-control mt-2" placeholder="Description"
                    [(ngModel)]="research.description">
            </td>
        </tr>
        <tr class="mt-2">
            <td>
                <input type="text-area" class="form-control mt-2" placeholder="Year" [(ngModel)]="research.year">
            </td>
        </tr>
    </table>
    <div class="right mt-2">
        <button mat-raised-button class="btn btn-primary margin-left" color="primary" (click)="saveResearch()">{{
            'settings.button.save' | translate}}</button>
        <button mat-raised-button class="margin-left" color="warn" (click)="clear()">{{
            'settings.button.clear'
            | translate}}</button>
    </div>
</div>