<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="back()"><mat-icon>arrow_circle_left</mat-icon>
    </button>

    <h1 class="title mt-2">{{ 'settings.edit.title' | translate}}</h1>

    <div class="row mt-2">

        <form [formGroup]="requiredForm" novalidate>

            <div>
                <input id="file" type="file" #fileInput multiple class="form-control" (change)="onFileChange($event)">
            </div>

            <div class="top col-md-3 col-6 mb-4" *ngFor='let url of images'>
                <div class="right">
                    <button mat-raised-button class="margin-left" color="warn"
                        (click)="delete(url)"><mat-icon>delete</mat-icon></button>
                </div>
                <img class="card-img-top lazyloaded" [src]="url" alt="Image Source">
            </div>

            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (IT)</mat-label>
                    <input formControlName="titleIt" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredForm.controls['titleIt'].invalid && requiredForm.controls['titleIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['titleIt'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (IT)</mat-label>
                    <textarea formControlName="descriptionIt" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredForm.value.descriptionIt?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredForm.controls['descriptionIt'].invalid && requiredForm.controls['descriptionIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['descriptionIt'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredForm.controls['descriptionIt'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>


            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (EN)</mat-label>
                    <input formControlName="titleEn" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredForm.controls['titleEn'].invalid && requiredForm.controls['titleEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['titleEn'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (EN)</mat-label>
                    <textarea formControlName="descriptionEn" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredForm.value.descriptionEn?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredForm.controls['descriptionEn'].invalid && requiredForm.controls['descriptionEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredForm.controls['descriptionEn'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredForm.controls['descriptionEn'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Year</mat-label>
                    <input formControlName="year" matInput>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div class="right mt-2">
        <button mat-raised-button class="btn btn-primary margin-left" color="primary" (click)="saveResearch()">{{
            'settings.button.edit' | translate}}</button>
        <button mat-raised-button class="margin-left" color="warn" (click)="clear()">{{
            'settings.button.clear'
            | translate}}</button>
    </div>
</div>