.grid-container {
    min-height: 400px;
}

.back {
    background: var(--bs-primary);
}

.height {
    min-height: 400px;
    max-height: 450px;
}

@media (min-width: 1200px) {
    .img {
        width: 350px;
        height: 320px;
    }
}

@media (min-width: 725px) and (max-width: 1199px) {
    .img {
        width: 320px;
        height: 300px;
    }
}

@media(max-width: 724px) {
    .img {
        width: 270px;
        height: 250px;
    }
}