<div class="container grid-container mt-5">
    <div class="row col-sm-12">
        <h1 class="title">{{research?.title}}</h1>
        <div class="row col-sm-12">
            <img *ngIf="research.file" class="img" [src]="research.file" alt="Image Source">
            <img *ngIf="!research.file" class="img" src="assets/noimage.png" alt="Image Source">
        </div>
        <div class="row col-sm-12 justify mt-3">
            <h2>Description</h2>
            <p>{{research?.description}}</p>
        </div>
    </div>
</div>