<div class="container grid-container mt-5">
    <button class="btn btn-primary mt-2 ml-2 mb-2"><mat-icon (click)="back()">arrow_circle_left</mat-icon>
    </button>
    <div class="row col-sm-12">
        <h1 class="title">{{research?.title.toUpperCase()}}</h1>
        <div class="row col-sm-12">
            <ngb-carousel class="back">
                <ng-template ngbSlide *ngFor="let file of files">
                    <div class="pad col-md-12 mb-4 center height">
                        <img [src]="file" class="img lazyloaded mt-5" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="row col-sm-12 justify mt-3">
            <h2> {{ 'settings.description' | translate }}</h2>
            <p>{{research?.description}}</p>
        </div>
    </div>
</div>