<div class="grid-container mt-5">
    <h1 class="mat-h1">Publications</h1>
    <h3>
        IRIS è la soluzione IT che facilita la raccolta e la gestione dei dati relativi alle attività e ai prodotti
        della ricerca. Fornisce a ricercatori, amministratori e valutatori gli strumenti per monitorare i risultati
        della ricerca, aumentarne la visibilità e allocare in modo efficace le risorse disponibili.
    </h3>
    <h3>For more info visit this <a target="_blank" href="https://iris.unicas.it/">site</a>.</h3>
    <div class="grid-container center mt-5">
        <img class="img center" src="assets/work_inprogress.png">
    </div>
</div>