<div class="container grid-container mt-5 mb-5">
    <h1 class="title">{{ 'publication.title' | translate }}</h1>
    <div class="btn-group btn-group-toggle year-button-group" data-toggle="buttons">
        <a class="btn btn-link" style="color:grey" (click)="search('all')">all</a>
        <a class="btn btn-link" style="color:grey" (click)="search('2023')">2023</a>
        <a class="btn btn-link" style="color:grey" (click)="search('2022')">2022</a>
        <a class="btn btn-link" style="color:grey" (click)="search('2021')">2021</a>
        <a class="btn btn-link" style="color:grey" (click)="search('2020')">2020</a>
        <a class="btn btn-link" style="color:grey" (click)="search('2019')">2019</a>
    </div>
    <ul>
        <h2>2023</h2>
        <ol>
            <li *ngFor="let card of cards"> {{card.authors}}
            </li>
        </ol>
    </ul>
</div>