<div class="container grid-container mt-5">
    <h1 class="title">Research</h1>
    <div class="col-sm-12 col-md-12 mt-5" *ngFor="let card of obs | async">
        <mat-card class="aida-card cursor">
            <mat-card-header>
                <mat-card-title>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <div class="row">
                    <h1 class="title"> {{card.title}} </h1>
                    <div class="col-sm-8 justify">
                        <p class="long-text">
                            <span>{{card.description}}</span>
                        </p>
                    </div>
                    <div class="col-sm-4 center">
                        <img *ngIf="card.file" class="img-thumbnail lazyloaded" [src]="card.file" alt="Image Source">
                        <img *ngIf="!card.file" class="img-thumbnail lazyloaded" src="assets/noimage.png"
                            alt="Image Source">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" (click)="open(card)">More information</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="container-fluid" #focus>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="scrollUp()"></mat-paginator>
    </div>
</div>