

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}


.t {
  text-align: justify;
  text-overflow: ellipsis;
}

.long-text {
  word-break: break-word;
}

.dashboard-card-content{
  padding-left: 10px
}