.warning-class {
    background-color: var(--bs-yellow);
    height: 50px;
    width: auto
}

::ng-deep .mat-dialog-container {
    padding-top: 0;
}

.mat-dialog-actions {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mat-dialog-title {
    margin-top: 15px !important;
}

.modal-div {
    margin-left: -24px;
    margin-right: -24px;
}