

.sidenav {
  width: 200px;
}

.cursor {
  cursor: pointer;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.divider {
  margin-right: 5px;
  margin-left: 5px;
}

.small-text{
  font-size: 14px;
  color: var(--bs-white)
}

.small-icon{
  font-size: 24px;
  color: var(--bs-white)
}

.img {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.cursor {
  color: var(--bs-white)
}

