.menu-spacer {
  flex: 1 1 auto;
  text-align: right
}

.menu-spacer-logo {
  flex: 0.2 0 auto;
  text-align: right
}

.divider {
  margin-right: 5px;
  margin-left: 5px;
}

.small-text {
  font-size: 14px;
  color: var(--bs-primary)
}

.small-icon {
  font-size: 24px;
  color: var(--bs-primary)
}

.mat-icon-button {
  color: var(--bs-primary)
}

.logo {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.cursor {
  cursor: pointer;
  color: var(--bs-primary)
}

.small-text-href {
  cursor: pointer;
  color: var(--bs-primary)
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-sidenav {
  border-right: none;
  background-color: var(--bs-white) !important;
  margin-bottom: 1px solid var(--bs-primary) !important;
  color: white;
  text-align: center;
}

.site-header {
  padding: 20px;
  background: linear-gradient(var(--bs-blue), var(--bs-gray-400));
  background-size: cover;
}