<mat-sidenav-container class="sidenav-container">
  <mat-toolbar class="background">
    <span>
      <img class="img" src="assets/logo_aida.png">
    </span>
    <span class="small-text">
      <span>AIDA LAB</span> <br>
      Artificial Intelligence and Data Analysis Laboratory
    </span>
    <span class="spacer"></span>
    <span class="cursor" routerLink="/">Home</span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/people">People</span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/research">Research</span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/publication">Publication</span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/about">About</span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/contact">Contact</span>
    <span class="divider"></span>
    <span class="divider"></span>
    <span class="cursor" routerLink="/private">Login</span>
  </mat-toolbar>
</mat-sidenav-container>

<div class="site-header iu-hide bg-secondary text-white">
  <div class="site-title" id="headerText">
    <div>
      AIDA</div>
  </div>
</div>