<div class="container grid-container mt-5">
    <div class="row">
        <h1 class="title">{{ 'thesis.title' | translate}}</h1>
        <p>{{ 'thesis.message' | translate}}
        </p>
        <div class="col-md-3 col-6 mb-4" *ngFor="let card of cards">
            <div class="card cursor" (click)="open(card)">
                <img *ngIf=" card.file" class="card-img-top lazyloaded" [src]="card.file" alt="Image Source">
                <img *ngIf="!card.file" class="card-img-top lazyloaded" src="assets/noimage.png" alt="Image Source">
            </div>
        </div>
    </div>
</div>