<div class="container grid-container mt-5">
    <div class="row">
        <h1 class="title">Thesis gallery</h1>
        <p>Below is an overview of PhD theses written or supervised by members of the group.
        </p>
        <div class="col-md-3 col-6 mb-4" *ngFor="let card of cards">
            <div class="card cursor" (click)="open(card)">
                <img *ngIf=" card.file" class="card-img-top lazyloaded" [src]="card.file" alt="Image Source">
                <img *ngIf="!card.file" class="card-img-top lazyloaded" src="assets/noimage.png" alt="Image Source">
            </div>
        </div>
    </div>
</div>