.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center
}

.person {
    text-align: center;
    padding-bottom: 1em;
}

@media (min-width: 1200px) {
    .dashboard-card {
        min-height: 510px;
    }
}

@media (min-width: 725px) and (max-width: 1199px) {
    .dashboard-card {
        min-height: 500px;
    }
}

@media(max-width: 724px) {
    .dashboard-card {
        min-height: 400px;
        max-width: 400px;
    }
}