<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="back()"><mat-icon>arrow_circle_left</mat-icon>
    </button>
    <div class="row col-sm-12 mt-2">

        <h1 class="title mt-2">{{ 'settings.thesis.title' | translate}}</h1>

        <form [formGroup]="requiredFormThesis" novalidate>

            <div>
                <input class="form-control" type="file" #fileInput name="File" id="txtFileUpload"
                    (change)="uploadListener($event)" accept="*" />
            </div>

            <div class="pad col-md-3 col-6 mb-4" *ngIf="imageSource">
                <div class="right">
                    <button mat-raised-button class="margin-left" color="warn"
                        (click)="delete()"><mat-icon>delete</mat-icon></button>
                </div>
                <img class="card-img-top lazyloaded" [src]="imageSource" alt="Image Source">
            </div>

            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (IT)</mat-label>
                    <input formControlName="titleIt" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredFormThesis.controls['titleIt'].invalid && requiredFormThesis.controls['titleIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormThesis.controls['titleIt'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (IT)</mat-label>
                    <textarea formControlName="descriptionIt" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredFormThesis.value.descriptionIt?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredFormThesis.controls['descriptionIt'].invalid && requiredFormThesis.controls['descriptionIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormThesis.controls['descriptionIt'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredFormThesis.controls['descriptionIt'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (EN)</mat-label>
                    <input formControlName="titleEn" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredFormThesis.controls['titleEn'].invalid && requiredFormThesis.controls['titleEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormThesis.controls['titleEn'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (EN)</mat-label>
                    <textarea formControlName="descriptionEn" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredFormThesis.value.descriptionEn?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredFormThesis.controls['descriptionEn'].invalid && requiredFormThesis.controls['descriptionEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormThesis.controls['descriptionEn'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredFormThesis.controls['descriptionEn'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>


        </form>

        <div class="right mt-2">
            <button mat-raised-button class="btn btn-primary margin-left" (click)="saveThesis()"
                [disabled]="requiredFormThesis.invalid"><mat-icon>save</mat-icon></button>
            <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>

</div>