<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="back()"><mat-icon>arrow_circle_left</mat-icon>
    </button>

    <mat-tab-group>
        <mat-tab label="News">
            <div class="row col-sm-12 mt-2">

                <h1 class="title mt-2">{{ 'settings.news.title' | translate}}</h1>

                <form [formGroup]="requiredFormNews" novalidate>

                    <div>
                        <input class="form-control" type="file" #fileInput name="File" id="txtFileUpload"
                            (change)="uploadListener($event)" accept="*" />
                    </div>

                    <div class="top col-md-3 col-6 mb-4" *ngIf="imageSource">
                        <div class="right">
                            <button mat-raised-button class="margin-left" color="warn"
                                (click)="delete()"><mat-icon>delete</mat-icon></button>
                        </div>
                        <img class="card-img-top lazyloaded" [src]="imageSource" alt="Image Source">
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (IT)</mat-label>
                            <input formControlName="titleIt" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormNews.controls['titleIt'].invalid && requiredFormNews.controls['titleIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormNews.controls['titleIt'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (IT)</mat-label>
                            <textarea formControlName="descriptionIt" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormNews.value.descriptionIt?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormNews.controls['descriptionIt'].invalid && requiredFormNews.controls['descriptionIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormNews.controls['descriptionIt'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormNews.controls['descriptionIt'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (EN)</mat-label>
                            <input formControlName="titleEn" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormNews.controls['titleEn'].invalid && requiredFormNews.controls['titleEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormNews.controls['titleEn'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (EN)</mat-label>
                            <textarea formControlName="descriptionEn" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormNews.value.descriptionEn?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormNews.controls['descriptionEn'].invalid && requiredFormNews.controls['descriptionEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormNews.controls['descriptionEn'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormNews.controls['description'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>

                </form>

                <div class="right mt-2">
                    <button mat-raised-button class="btn btn-primary margin-left" (click)="saveNews()"
                        [disabled]="requiredFormNews.invalid"><mat-icon>save</mat-icon></button>
                    <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Research">
            <div class="row col-sm-12 mt-2">

                <h1 class="title mt-2">{{ 'settings.research.title' | translate}}</h1>

                <form [formGroup]="requiredFormResearch" novalidate>

                    <div>
                        <input id="file" type="file" #fileInput multiple class="form-control"
                            (change)="onFileChange($event)">
                    </div>

                    <div class="pad col-md-3 col-6 mb-4" *ngFor='let url of images'>
                        <div class="right">
                            <button mat-raised-button class="margin-left" color="warn"
                                (click)="delete(url)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <img class="card-img-top lazyloaded" [src]="url" alt="Image Source">
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (IT)</mat-label>
                            <input formControlName="titleIt" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormResearch.controls['titleIt'].invalid && requiredFormResearch.controls['titleIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormResearch.controls['titleIt'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (IT) </mat-label>
                            <textarea formControlName="descriptionIt" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormResearch.value.descriptionIt?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormResearch.controls['descriptionIt'].invalid && requiredFormResearch.controls['descriptionIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormResearch.controls['descriptionIt'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormResearch.controls['descriptionIt'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (EN)</mat-label>
                            <input formControlName="titleEn" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormResearch.controls['titleEn'].invalid && requiredFormResearch.controls['titleEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormResearch.controls['titleEn'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (EN)</mat-label>
                            <textarea formControlName="descriptionEn" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormResearch.value.descriptionEn?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormResearch.controls['descriptionEn'].invalid && requiredFormResearch.controls['descriptionEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormResearch.controls['descriptionEn'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormResearch.controls['descriptionEn'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Year</mat-label>
                            <input formControlName="year" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormResearch.controls['year'].invalid && requiredFormResearch.controls['year'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormResearch.controls['year'].errors.required">
                            Year is required.
                        </div>
                    </div>

                </form>

                <div class="right mt-2">
                    <button mat-raised-button class="btn btn-primary margin-left" (click)="saveResearch()"
                        [disabled]="requiredFormResearch.invalid"><mat-icon>save</mat-icon></button>
                    <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="People">
            <div class="row col-sm-12 mt-2">

                <h1 class="title mt-2">{{ 'settings.people.title' | translate}}</h1>

                <form [formGroup]="requiredFormPeople" novalidate>

                    <div>
                        <input class="form-control" type="file" #fileInput name="File" id="txtFileUpload"
                            (change)="uploadListener($event)" accept="*" />
                    </div>

                    <div class="pad col-md-3 col-6 mb-4" *ngIf="imageSource">
                        <div class="right">
                            <button mat-raised-button class="margin-left" color="warn"
                                (click)="delete()"><mat-icon>delete</mat-icon></button>
                        </div>
                        <img class="card-img-top lazyloaded" [src]="imageSource" alt="Image Source">
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input formControlName="name" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['name'].invalid && requiredFormPeople.controls['name'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['name'].errors.required">
                            Name is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Surname</mat-label>
                            <input formControlName="surname" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['surname'].invalid && requiredFormPeople.controls['surname'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['surname'].errors.required">
                            Surname is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['email'].invalid && requiredFormPeople.controls['email'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['email'].errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="requiredFormPeople.controls['email'].errors.email">
                            Email not valid.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Number</mat-label>
                            <input formControlName="number" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['number'].invalid && requiredFormPeople.controls['number'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['number'].errors.required">
                            Number is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Additional info</mat-label>
                            <input formControlName="additionalInfo" matInput>
                        </mat-form-field>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role">
                                <mat-option value="Full Professor">Full Professor</mat-option>
                                <mat-option value="Associate Professor">Associate Professor</mat-option>
                                <mat-option value="Assistant Professor">Assistant Professor</mat-option>
                                <mat-option value="Researcher">Researcher</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['role'].invalid && requiredFormPeople.controls['role'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['role'].errors.required">
                            Role is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Group</mat-label>
                            <mat-select formControlName="group">
                                <mat-option value="Chair">Chair</mat-option>
                                <mat-option value="Faculty">Faculty</mat-option>
                                <mat-option value="Scientific staff">Scientific staff</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormPeople.controls['group'].invalid && requiredFormPeople.controls['group'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormPeople.controls['group'].errors.required">
                            Group is required.
                        </div>
                    </div>

                </form>

                <div class="right mt-2">
                    <button mat-raised-button class="btn btn-primary margin-left" (click)="savePeople()"
                        [disabled]="requiredFormPeople.invalid"><mat-icon>save</mat-icon></button>
                    <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Thesis">
            <div class="row col-sm-12 mt-2">

                <h1 class="title mt-2">{{ 'settings.thesis.title' | translate}}</h1>

                <form [formGroup]="requiredFormThesis" novalidate>

                    <div>
                        <input class="form-control" type="file" #fileInput name="File" id="txtFileUpload"
                            (change)="uploadListener($event)" accept="*" />
                    </div>

                    <div class="pad col-md-3 col-6 mb-4" *ngIf="imageSource">
                        <div class="right">
                            <button mat-raised-button class="margin-left" color="warn"
                                (click)="delete()"><mat-icon>delete</mat-icon></button>
                        </div>
                        <img class="card-img-top lazyloaded" [src]="imageSource" alt="Image Source">
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (IT)</mat-label>
                            <input formControlName="titleIt" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormThesis.controls['titleIt'].invalid && requiredFormThesis.controls['titleIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormThesis.controls['titleIt'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (IT)</mat-label>
                            <textarea formControlName="descriptionIt" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormThesis.value.descriptionIt?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormThesis.controls['descriptionIt'].invalid && requiredFormThesis.controls['descriptionIt'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormThesis.controls['descriptionIt'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormThesis.controls['descriptionIt'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field class="mt-4" appearance="fill">
                            <mat-label>Title (EN)</mat-label>
                            <input formControlName="titleEn" matInput>
                        </mat-form-field>
                    </div>

                    <div *ngIf="requiredFormThesis.controls['titleEn'].invalid && requiredFormThesis.controls['titleEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormThesis.controls['titleEn'].errors.required">
                            Title is required.
                        </div>
                    </div>

                    <div class="row form-group pad">
                        <mat-form-field appearance="fill">
                            <mat-label>Description (EN)</mat-label>
                            <textarea formControlName="descriptionEn" matInput></textarea>
                        </mat-form-field>
                        <div class="right">
                            {{requiredFormThesis.value.descriptionEn?.length}}/1024
                        </div>
                    </div>

                    <div *ngIf="requiredFormThesis.controls['descriptionEn'].invalid && requiredFormThesis.controls['descriptionEn'].touched"
                        class="alert alert-danger">
                        <div *ngIf="requiredFormThesis.controls['descriptionEn'].errors.required">
                            Description is required.
                        </div>
                        <div *ngIf="requiredFormThesis.controls['descriptionEn'].hasError('maxlength')">
                            Description cannot exceed 1024 characters.
                        </div>
                    </div>


                </form>

                <div class="right mt-2">
                    <button mat-raised-button class="btn btn-primary margin-left" (click)="saveThesis()"
                        [disabled]="requiredFormThesis.invalid"><mat-icon>save</mat-icon></button>
                    <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>