.grid-container {
    min-height: 500px;
}

.full-width {
    width: 100%;
}

td {
    padding-right: 21px;
}

.margin-left {
    margin-left: 10px;
}

.right {
    text-align: right
}

.pad {
    padding: 5px;
}