<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="new()">
        <span>New <mat-icon>save</mat-icon></span>
    </button>

    <mat-tab-group>
        <mat-tab label="News">
            <div class="container grid-container mt-2">
                <div class="col-sm-12 col-md-12 mt-5" *ngFor="let card of news">
                    <mat-card class="dashboard-card cursor">
                        <mat-card-header>
                            <mat-card-title>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div class="row">
                                <h1 class="title"> {{card.title}} </h1>
                                <div class="col-sm-8 justify">
                                    <p class="long-text">
                                        {{card.description}}
                                    </p>
                                </div>
                                <div class="col-sm-4 center">
                                    <img *ngIf="card.file" class="img lazyloaded" [src]="card.file" alt="Image Source">
                                    <img *ngIf="!card.file" class="img lazyloaded" src="assets/noimage.png"
                                        alt="Image Source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button mat-raised-button class="margin-left btn btn-primary"
                                    (click)="openNews(card)"><mat-icon>mode_edit</mat-icon></button>
                                <button mat-raised-button class="margin-left" color="warn"
                                    (click)="confirmDialog(card, 'news')"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="People">
            <div class="container grid-container mt-2">
                <div class="col-sm-12 col-md-12 mt-5" *ngFor="let card of people">
                    <mat-card class="aida-card cursor">
                        <mat-card-header>
                            <mat-card-title>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div class="row">
                                <h1 class="title"> {{card.name}} {{card.surname}} </h1>
                                <div class="col-sm-8 justify">
                                    <p class="long-text">
                                        <span>{{card.role}}</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 center">
                                    <img *ngIf="card.file" class="img-thumbnail rounded-circle lazyloaded"
                                        [src]="card.file" alt="Image Source">
                                    <img *ngIf="!card.file" class="img-thumbnail rounded-circle lazyloaded"
                                        src="assets/noimage.png" alt="Image Source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button mat-raised-button class="margin-left btn btn-primary"
                                    (click)="openPeople(card)"><mat-icon>mode_edit</mat-icon></button>
                                <button mat-raised-button class="margin-left" color="warn"
                                    (click)="confirmDialog(card, 'people')"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Research">
            <div class="container grid-container mt-2">
                <div class="col-sm-12 col-md-12 mt-5" *ngFor="let card of research">
                    <mat-card class="aida-card cursor">
                        <mat-card-header>
                            <mat-card-title>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div class="row">
                                <h1 class="title"> {{card.title}} </h1>
                                <div class="col-sm-8 justify">
                                    <p class="long-text">
                                        <span>{{card.description}}</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 center">
                                    <img *ngIf="card.file" class="img lazyloaded" [src]="card.file" alt="Image Source">
                                    <img *ngIf="!card.file" class="img lazyloaded" src="assets/noimage.png"
                                        alt="Image Source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button mat-raised-button class="margin-left btn btn-primary"
                                    (click)="openResearch(card)"><mat-icon>mode_edit</mat-icon></button>
                                <button mat-raised-button class="margin-left" color="warn"
                                    (click)="confirmDialog(card, 'research')"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Thesis">
            <div class="container grid-container mt-2">
                <div class="col-sm-12 col-md-12 mt-5" *ngFor="let card of thesis">
                    <mat-card class="dashboard-card cursor">
                        <mat-card-header>
                            <mat-card-title>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div class="row">
                                <h1 class="title"> {{card.title}} </h1>
                                <div class="col-md-9 col-6 ">
                                    <p class="long-text">
                                        {{card.description}}
                                    </p>
                                </div>
                                <div class="col-md-3 col-6 mb-4">
                                    <img *ngIf="card.file" class="card-img-top lazyloaded" [src]="card.file"
                                        alt="Image Source">
                                    <img *ngIf="!card.file" class="card-img-top lazyloaded" src="assets/noimage.png"
                                        alt="Image Source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button mat-raised-button class="margin-left btn btn-primary"
                                    (click)="openThesis(card)"><mat-icon>mode_edit</mat-icon></button>
                                <button mat-raised-button class="margin-left" color="warn"
                                    (click)="confirmDialog(card, 'thesis')"><mat-icon>delete</mat-icon></button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>