<div class="container grid-container mt-5">

    <button class="btn btn-primary" (click)="back()"><mat-icon>arrow_circle_left</mat-icon>
    </button>

    <div class="row col-sm-12 mt-2">

        <h1 class="title mt-2">{{ 'settings.research.title' | translate}}</h1>

        <form [formGroup]="requiredFormResearch" novalidate>

            <div>
                <input id="file" type="file" #fileInput multiple class="form-control" (change)="onFileChange($event)">
            </div>

            <div class="pad col-md-3 col-6 mb-4" *ngFor='let url of images'>
                <div class="right">
                    <button mat-raised-button class="margin-left" color="warn"
                        (click)="delete(url)"><mat-icon>delete</mat-icon></button>
                </div>
                <img class="card-img-top lazyloaded" [src]="url" alt="Image Source">
            </div>

            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (IT)</mat-label>
                    <input formControlName="titleIt" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredFormResearch.controls['titleIt'].invalid && requiredFormResearch.controls['titleIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormResearch.controls['titleIt'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (IT) </mat-label>
                    <textarea formControlName="descriptionIt" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredFormResearch.value.descriptionIt?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredFormResearch.controls['descriptionIt'].invalid && requiredFormResearch.controls['descriptionIt'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormResearch.controls['descriptionIt'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredFormResearch.controls['descriptionIt'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field class="mt-4" appearance="fill">
                    <mat-label>Title (EN)</mat-label>
                    <input formControlName="titleEn" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredFormResearch.controls['titleEn'].invalid && requiredFormResearch.controls['titleEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormResearch.controls['titleEn'].errors.required">
                    Title is required.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Description (EN)</mat-label>
                    <textarea formControlName="descriptionEn" matInput></textarea>
                </mat-form-field>
                <div class="right">
                    {{requiredFormResearch.value.descriptionEn?.length}}/1024
                </div>
            </div>

            <div *ngIf="requiredFormResearch.controls['descriptionEn'].invalid && requiredFormResearch.controls['descriptionEn'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormResearch.controls['descriptionEn'].errors.required">
                    Description is required.
                </div>
                <div *ngIf="requiredFormResearch.controls['descriptionEn'].hasError('maxlength')">
                    Description cannot exceed 1024 characters.
                </div>
            </div>

            <div class="row form-group pad">
                <mat-form-field appearance="fill">
                    <mat-label>Year</mat-label>
                    <input formControlName="year" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="requiredFormResearch.controls['year'].invalid && requiredFormResearch.controls['year'].touched"
                class="alert alert-danger">
                <div *ngIf="requiredFormResearch.controls['year'].errors.required">
                    Year is required.
                </div>
            </div>

        </form>

        <div class="right mt-2">
            <button mat-raised-button class="btn btn-primary margin-left" (click)="saveResearch()"
                [disabled]="requiredFormResearch.invalid"><mat-icon>save</mat-icon></button>
            <button mat-raised-button class="margin-left" color="warn" (click)="clear()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>

</div>