<div class="container grid-container mt-5">
    <div class="row col-sm-12">
        <h1 class="title">{{thesis?.title.toUpperCase()}}</h1>
        <div class="col-md-3 col-6 mb-4">
            <img *ngIf="thesis.file" class="card-img-top lazyloaded" [src]="thesis.file" alt="Image Source">
            <img *ngIf="!thesis.file" class="card-img-top lazyloaded" src="assets/noimage.png" alt="Image Source">
        </div>
        <div class="row col-sm-12 justify mt-3">
            <h2> {{ 'settings.description' | translate }}</h2>
            <p>{{thesis?.description}}</p>
        </div>
    </div>
</div>